<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <!-- The mapping for the Set Character Encoding Filter -->
    <filter-mapping>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.orders.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchLoginDataServlet</servlet-name>
        <servlet-class>com.orders.FetchLoginDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchCustomerServlet</servlet-name>
        <servlet-class>com.orders.FetchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>com.orders.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadItemServlet</servlet-name>
        <servlet-class>com.orders.ReadItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateItemServlet</servlet-name>
        <servlet-class>com.orders.CreateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>com.orders.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderElemServlet</servlet-name>
        <servlet-class>com.orders.CreateOrderElemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadOrderElemServlet</servlet-name>
        <servlet-class>com.orders.ReadOrderElemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrdersServlet</servlet-name>
        <servlet-class>com.orders.CreateOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadOrdersServlet</servlet-name>
        <servlet-class>com.orders.ReadOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLoginServlet</servlet-name>
        <servlet-class>com.orders.UpdateLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <servlet-class>com.orders.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLoginServlet</servlet-name>
        <servlet-class>com.orders.CreateLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>com.orders.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSessionStateServlet</servlet-name>
        <servlet-class>com.orders.CheckSessionStateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchLoginDataServlet</servlet-name>
        <url-pattern>/FetchLoginDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchCustomerServlet</servlet-name>
        <url-pattern>/FetchCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadItemServlet</servlet-name>
        <url-pattern>/ReadItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateItemServlet</servlet-name>
        <url-pattern>/CreateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderElemServlet</servlet-name>
        <url-pattern>/CreateOrderElemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadOrderElemServlet</servlet-name>
        <url-pattern>/ReadOrderElemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrdersServlet</servlet-name>
        <url-pattern>/CreateOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadOrdersServlet</servlet-name>
        <url-pattern>/ReadOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLoginServlet</servlet-name>
        <url-pattern>/UpdateLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <url-pattern>/CreateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLoginServlet</servlet-name>
        <url-pattern>/CreateLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSessionStateServlet</servlet-name>
        <url-pattern>/CheckSessionStateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
